:root {
  --primary-color: rgb(249, 249, 251);
  --secondary-color: rgb(0, 76, 94);
  --accent-color: rgb(239, 87, 76);
  --accent-hover-color: rgb(193, 70, 61);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  --shadow-image: -1px 3px 4px 0px rgba(0, 0, 0, 0.2);
  /*******************/

  --headline-1-large__screen-font-family: "Avenir";
  --headline-1-large__screen-font-weight: bold;
  --headline-1-large__screen-font-size: 64px;

  --headline-2-large__screen-font-family: "Futura";
  --headline-2-large__screen-font-weight: 500;
  --headline-2-large__screen-font-size: 48px;

  --headline-3-large__screen-font-family: "Avenir";
  --headline-3-large__screen-font-weight: light;
  --headline-3-large__screen-font-size: 48px;

  --headline-4-large__screen-font-family: "Helvetica";
  --headline-4-large__screen-font-weight: bold;
  --headline-4-large__screen-font-size: 24px;

  --headline-5-large__screen-font-family: "Helvetica";
  --headline-5-large__screen-font-weight: bold;
  --headline-5-large__screen-font-size: 18px;

  --text-large__screen-font-family: "Helvetica";
  --text-large__screen-font-weight: Regular;
  --text-large__screen-font-size: 18px;

  /*******************/

  --headline-1-small__screen-font-family: "Avenir";
  --headline-1-small__screen-font-weight: bold;
  --headline-1-small__screen-font-size: 32px;

  --headline-2-small__screen-font-family: "Futura";
  --headline-2-small__screen-font-weight: 500;
  --headline-2-small__screen-font-size: 32px;

  --headline-3-small__screen-font-family: "Avenir";
  --headline-3-small__screen-font-weight: Light;
  --headline-3-small__screen-font-size: 24px;

  --headline-4-small__screen-font-family: "Helvetica";
  --headline-4-small__screen-font-weight: Bold;
  --headline-4-small__screen-font-size: 18px;

  --headline-5-small__screen-font-family: "Helvetica";
  --headline-5-small__screen-font-weight: Bold;
  --headline-5-small__screen-font-size: 15px;

  --text-small__screen-font-family: "Helvetica";
  --text-small__screen-font-weight: Regular;
  --text-small__screen-font-size: 15px;

  --large-image-width: 450px;
  --large-image-height: 418px;

  --small-image-width: 373px;
  --small-image-height: 300px;

  --extra-large-padding: 150px;
  --large-padding: 100px;
  --medium-padding: 40px;
  --small-padding: 20px;
  --extra-small-padding: 10px;

  --large-gap: 100px;
  --medium-gap: 40px;
  --small-gap: 20px;
  --extra-small-gap: 10px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  position: relative;
}

h1 {
  font-family: var(--headline-1-large__screen-font-family);
  font-weight: var(--headline-1-large__screen-font-weight);
  font-size: var(--headline-1-large__screen-font-size);
  color: var(--white);
}

video,
button {
  border-radius: 8px;
}

.dark {
  color: var(--black);
}

.light {
  color: var(--white);
}

.bg__primary {
  background-color: var(--primary-color);
}

.non__visible {
  visibility: hidden;
}

.image__container {
  position: relative;
  height: var(--large-image-height);
  max-width: var(--large-image-width);
  min-width: var(--large-image-width);
  overflow-y: hidden;
  border-radius: 8px;
  box-shadow: var(--shadow-image);
}

.image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

section {
  padding: var(--large-padding) var(--extra-large-padding);
}

.section__title {
  font-family: var(--headline-2-large__screen-font-family);
  font-weight: var(--headline-2-large__screen-font-weight);
  font-size: var(--headline-2-large__screen-font-size);
  color: var(--black);
}

.section__description {
  font-family: var(--text-large__screen-font-family);
  font-weight: var(--text-large__screen-font-weight);
  font-size: var(--text-large__screen-font-size);
  color: var(--black);
}

.card {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--large-gap);
}

.card__reverse {
  flex-direction: row-reverse;
}

button.action {
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button.action:hover {
  background-color: var(--accent-hover-color);
  cursor: pointer;
}

/*Header*/

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: var(--extra-small-padding) var(--extra-large-padding);
  background-color: white;
  z-index: 1000;
  width: 100%;
}

.navigation__container {
  display: flex;
  justify-content: space-between;
  gap: var(--large-gap);
}

.navigation__container a,
.menu__burger__navigation a {
  color: var(--secondary-color);
}

.navigation__container li,
.menu__burger__navigation li {
  position: relative;
  padding: 12px 0;
}

.navigation__container li::after,
.menu__burger__navigation li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--accent-hover-color);
  transition: width 0.3s ease-out;
}

.navigation__container li:hover::after,
.menu__burger__navigation li:hover::after {
  width: 100%;
}

.navigation__container li.active::before,
.menu__burger__navigation li.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
}

/*menu burger*/

.menu__burger {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
}

.menu__burger__container {
  background-color: white;
  padding: 20px;
  position: relative;
}

.menu__burger__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.95);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu__burger__navigation {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

.menu__burger__navigation li a {
  font-family: var(--headline-4-small__screen-font-family);
  font-weight: var(--headline-4-small__screen-font-weight);
  font-size: var(--headline-4-small__screen-font-size);
}

.menu__burger__line__top::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 4px;
  background-color: var(--black);
  transition: all 0.2s ease-out;
}

.menu__burger__line__mid::before {
  content: "";
  position: absolute;
  top: 17.5px;
  left: 5px;
  width: 30px;
  height: 4px;
  background-color: var(--black);
  transition: all 0.2s ease-out;
}

.menu__burger__line__bottom::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 5px;
  width: 30px;
  height: 4px;
  background-color: var(--black);
  transition: all 0.2s ease-out;
}

.menu__burger__container.off .menu__burger__line__top::before {
  top: 20px;
  rotate: 45deg;
}

.menu__burger__container.off .menu__burger__line__mid::before {
  display: none;
}

.menu__burger__container.off .menu__burger__line__bottom::before {
  top: 20px;
  rotate: -45deg;
}

#menu-toggle-on:checked ~ .menu__burger__overlay {
  display: flex;
}
#menu-toggle-off:checked ~ .menu__burger__overlay {
  display: none;
}

/*footer*/

footer {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 70px var(--extra-large-padding) var(--large-padding)
    var(--extra-large-padding);
  border-top: 1px solid var(--black);
}

.social__media {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  margin-top: 40px;
}

.icon__container {
  display: flex;
  gap: var(--small-gap);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  margin-top: 40px;
}

.menu__container {
  display: flex;
  flex-direction: column;
  gap: var(--extra-small-gap);
}

.menu__container a {
  /* font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size); */
  color: var(--black);
}

.contact__us {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  margin-top: 40px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: var(--extra-small-gap);
}

.email__address {
  /* font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size); */
  color: var(--black);
}

.phone__number {
  /* font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size); */
  color: var(--black);
  text-decoration: underline;
}

.footer__headline {
  font-family: var(--headline-4-large__screen-font-family);
  font-weight: var(--headline-4-large__screen-font-weight);
  font-size: var(--headline-4-large__screen-font-size);
  color: var(--black);
}

/*copy__right*/

.copy__right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--small-padding) var(--extra-large-padding);
  background-color: #1b2439;
}

.copy__right__text {
  /* font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size); */
  color: var(--white);
}

/*hero__section*/

.hero__section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--small-gap);
}

.hero__content p {
  font-family: var(--headline-3-large__screen-font-family);
  font-weight: var(--headline-3-large__screen-font-weight);
  font-size: var(--headline-3-large__screen-font-size);
  color: var(--white);
}

/*_____________________Forside_____________________*/

/*pilates*/

.card__info {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

.card__title {
  font-family: var(--headline-3-large__screen-font-family);
  font-weight: var(--headline-3-large__screen-font-weight);
  font-size: var(--headline-3-large__screen-font-size);
  color: var(--secondary-color);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}

.card__headline {
  font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size);
}

.card__description {
  font-family: var(--text-large__screen-font-family);
  font-weight: var(--text-large__screen-font-weight);
  font-size: var(--text-large__screen-font-size);
  color: var(--black);
}

.feedback {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  background-color: var(--primary-color);
}

input[type="radio"] {
  display: none;
}

.reviews {
  max-width: min(1030px, 100dvw);
  overflow: hidden;
}
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.review {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.review__container {
  display: flex;
  text-align: left;
  font-size: 1.2rem;
  flex: 1;
}

.arrow {
  cursor: pointer;
  padding: 0 20px;
  font-size: 4rem;
  text-shadow: 0px 4px 4px gray;
  user-select: none;
  top: 50%;
}

.arrow__left {
  left: -40px;
}

.arrow__right {
  right: -40px;
}

.review .paragraph {
  padding: var(--medium-padding);
  background-color: var(--secondary-color);
  color: var(--white);
  border-radius: 8px;
}
.review .author {
  padding: var(--extra-small-padding);
  text-align: right;
}

/* Show correct review based on checked radio */
#fb1:checked ~ .reviews .slider {
  transform: translateX(0);
}
#fb2:checked ~ .reviews .slider {
  transform: translateX(-100%);
}
#fb3:checked ~ .reviews .slider {
  transform: translateX(-200%);
}
#fb4:checked ~ .reviews .slider {
  transform: translateX(-300%);
}

/*services*/

.services {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

.services__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--small-gap);
}

.services__cards__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  row-gap: var(--small-gap);
  column-gap: var(--medium-gap);
}

.services__card {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  padding: var(--small-padding);
  background-color: var(--primary-color);
  min-width: calc(var(--large-image-width) + 2 * var(--small-padding));
  max-width: calc(var(--large-image-width) + 2 * var(--small-padding));
  flex: 1;
  box-shadow: var(--shadow);
}

.services__card .image__container {
  box-shadow: none;
}

.service__card__header {
  font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size);
  color: var(--black);
}

.service__card__description {
  font-family: var(--text-large__screen-font-family);
  font-weight: var(--text-large__screen-font-weight);
  font-size: var(--text-large__screen-font-size);
  color: var(--black);
}

.service__card__description span {
  text-decoration: underline;
}

.service__card__button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 12px 24px;
  /* font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__card__button a {
  color: var(--white);
}

/*training__types*/

.traning__types {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

.traning__types__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--small-gap);
}

.traning__types__description {
  font-family: var(--text-large__screen-font-family);
  font-weight: var(--text-large__screen-font-weight);
  font-size: var(--text-large__screen-font-size);
  color: var(--black);
}

.traning__cards__container {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

.medium__card {
  padding: var(--small-padding);
  gap: var(--large-gap);
  background-color: var(--white);
}

/*trainer*/

.trainer__card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--accent-color);
  width: fit-content;
}

.trainer__card__button a {
  color: var(--white);
  /* font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size); */
}

/*______________________trainingoffer____________________*/

/*levels*/

.levels {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

.levels__content {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}

.levels__cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--medium-gap);
}

.level__card {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  padding: var(--small-gap);
  background-color: var(--white);
}

.level__card > .card__headline {
  text-align: center;
}

/* personlig__træning */

.personal__training,
.group__training {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  align-items: center;
}

.personal__training__button,
.group__training__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 48px;
  background-color: var(--accent-color);
  width: fit-content;
}

.personal__training__button a,
.group__training__button a {
  color: var(--white);
}

/*gallery*/
.gallery {
  display: flex;
  gap: var(--medium-gap);
}

.gallery__top,
.gallery__bottom {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  flex: 1;
}

.gallery img {
  width: 100%;
  max-width: 500px; /* Or any fixed width you want */
  height: 300px; /* Or whatever consistent height works for your layout */
  object-fit: cover;
  object-position: center;
}

/*______________________about____________________*/

.filosofi {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--medium-gap);
}

.filosofi .card__description {
  padding: 0px var(--extra-large-padding);
}

.our__values,
.about__me {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--medium-gap);
}

.values__container,
.achivments__container {
  display: flex;
  gap: var(--small-gap);
  width: 100%;
  justify-content: space-between;
}

.values__card,
.achivments__card {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--small-gap);
  padding: var(--medium-padding);
  background-color: var(--secondary-color);
  border-radius: 8px;
}

.studio ul {
  padding-left: 15px;
}
.studio li {
  list-style: disc;
}
.studio video {
  border-radius: 8px;
}

/*______________________media queries____________________*/

@media screen and (max-width: 425px) {
  h1 {
    font-family: var(--headline-1-small__screen-font-family);
    font-weight: var(--headline-1-small__screen-font-weight);
    font-size: var(--headline-1-small__screen-font-size);
  }

  .hero__section {
    text-align: center;
  }

  .hero__section p {
    font-family: var(--headline-3-small__screen-font-family);
    font-weight: var(--headline-3-small__screen-font-weight);
    font-size: var(--headline-3-small__screen-font-size);
  }

  header {
    background: transparent;
    justify-content: end;
    padding: var(--extra-small-padding) var(--extra-small-padding);
  }

  header .navigation__container {
    visibility: hidden;
    display: none;
  }

  .menu__burger {
    display: flex;
  }

  button a {
    font-family: var(--headline-5-small__screen-font-family);
    font-weight: var(--headline-5-small__screen-font-weight);
    font-size: var(--headline-5-small__screen-font-size);
  }

  section {
    padding: var(--medium-padding) var(--small-padding);
  }

  .section__title {
    font-family: var(--headline-2-small__screen-font-family);
    font-weight: var(--headline-2-small__screen-font-weight);
    font-size: var(--headline-2-small__screen-font-size);
  }

  .image__container {
    height: var(--small-image-height);
    max-width: calc(100dvw - 2 * var(--small-padding));
    min-width: min(calc(100dvw - 2 * var(--small-padding)), 100%);
  }

  .card {
    flex-direction: column;
    gap: var(--small-gap);
  }

  .card__info {
    gap: var(--small-gap);
  }

  .card__content {
    gap: var(--extra-small-gap);
  }

  .card__title {
    font-family: var(--headline-3-small__screen-font-family);
    font-weight: var(--headline-3-small__screen-font-weight);
    font-size: var(--headline-3-small__screen-font-size);
  }

  .card__headline {
    font-family: var(--headline-5-small__screen-font-family);
    font-weight: var(--headline-5-small__screen-font-weight);
    font-size: var(--headline-5-small__screen-font-size);
  }

  .card__description {
    font-family: var(--text-small__screen-font-family);
    font-weight: var(--text-small__screen-font-weight);
    font-size: var(--text-small__screen-font-size);
  }

  /* services */

  .services__card {
    min-width: min(
      calc(var(--small-image-width) + 2 * var(--extra-small-padding)),
      100%
    );
    max-width: calc(var(--small-image-width) + 2 * var(--extra-small-padding));
  }

  .medium__card {
    padding: var(--extra-small-padding);
  }

  /* footer */

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--medium-gap);
    padding: var(--medium-padding) var(--small-padding);
  }

  .footer__headline {
    font-family: var(--headline-4-small__screen-font-family);
    font-weight: var(--headline-4-small__screen-font-weight);
    font-size: var(--headline-4-small__screen-font-size);
  }

  .social__media,
  .menu,
  .contact__us {
    margin: 0;
    gap: var(--small-gap);
  }

  /* copy right */

  .copy__right {
    padding: var(--small-padding) var(--small-padding);
  }

  .copy__right__text {
    font-family: var(--text-small__screen-font-family);
    font-weight: var(--text-small__screen-font-weight);
    font-size: var(--text-small__screen-font-size);
  }

  /*______________________traningoffer____________________*/

  .group__training__button,
  .personal__training__button {
    padding: 12px 24px;
  }

  /*______________________om____________________*/

  .filosofi .card__description {
    padding: 0px;
  }

  .values__container,
  .achivments__container {
    flex-wrap: wrap;
  }
}
