:root {
  --primary-color: rgba(249, 249, 251, 1);
  --secondary-color: rgba(0, 76, 94, 1);
  --accent-color: rgba(239, 87, 76, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);

  /*******************/

  --headline-1-large__screen-font-family: "Avenir";
  --headline-1-large__screen-font-weight: bold;
  --headline-1-large__screen-font-size: 64px;

  --headline-2-large__screen-font-family: "Futura";
  --headline-2-large__screen-font-weight: 500;
  --headline-2-large__screen-font-size: 48px;

  --headline-3-large__screen-font-family: "Avenir";
  --headline-3-large__screen-font-weight: light;
  --headline-3-large__screen-font-size: 48px;

  --headline-4-large__screen-font-family: "Helvetica";
  --headline-4-large__screen-font-weight: bold;
  --headline-4-large__screen-font-size: 24px;

  --headline-5-large__screen-font-family: "Helvetica";
  --headline-5-large__screen-font-weight: bold;
  --headline-5-large__screen-font-size: 18px;

  --text-large__screen-font-family: "Helvetica";
  --text-large__screen-font-weight: Regular;
  --text-large__screen-font-size: 18px;

  /*******************/

  --headline-1-small__screen-font-family: "Avenir";
  --headline-1-small__screen-font-weight: "Heavy";
  --headline-1-small__screen-font-size: 32px;

  --headline-2-small__screen-font-family: "Futura";
  --headline-2-small__screen-font-weight: "Medium";
  --headline-2-small__screen-font-size: 32px;

  --headline-3-small__screen-font-family: "Avenir";
  --headline-3-small__screen-font-weight: "Light";
  --headline-3-small__screen-font-size: 24px;

  --headline-4-small__screen-font-family: "Helvetica";
  --headline-4-small__screen-font-weight: "Bold";
  --headline-4-small__screen-font-size: 18px;

  --text-small__screen-font-family: "Helvetica";
  --text-small__screen-font-weight: "Regular";
  --text-small__screen-font-size: 15px;

  --image-width: 450px;
  --image-height: 418px;

  --extra-large-padding: 150px;
  --large-padding: 100px;
  --medium-padding: 40px;
  --small-padding: 20px;

  --large-gap: var(--large-padding);
  --medium-gap: 40px;
  --small-gap: 20px;
  --extra-small-gap: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  position: relative;
}

h1 {
  font-family: var(--headline-1-large__screen-font-family);
  font-weight: var(--headline-1-large__screen-font-weight);
  font-size: var(--headline-1-large__screen-font-size);
  color: var(--white);
}

.dark {
  color: var(--black);
}

.lght {
  color: var(--white);
}

.bg-primary {
  background-color: var(--primary-color);
}

.image__container {
  position: relative;
  height: var(--image-height);
  max-width: var(--image-width);
  min-width: var(--image-width);
  overflow-y: hidden;
}

.section__title {
  font-family: var(--headline-2-large__screen-font-family);
  font-weight: var(--headline-2-large__screen-font-weight);
  font-size: var(--headline-2-large__screen-font-size);
  color: var(--black);
}

.section__description {
  font-family: var(--text-large__screen-font-family);
  font-weight: var(--text-large__screen-font-weight);
  font-size: var(--text-large__screen-font-size);
  color: var(--black);
}

.card {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--small-gap);
}

.card__reverse {
  flex-direction: row-reverse;
}

.card img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

/*Header*/

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 20px var(--extra-large-padding);
  background-color: white;
  z-index: 1000;
  width: 100%;
}

.navigation__container {
  display: flex;
  justify-content: space-between;
  gap: var(--large-gap);
}

.navigation__container a {
  font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size);
  color: var(--black);
}

/*footer*/

footer {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 70px var(--extra-large-padding) var(--large-padding)
    var(--extra-large-padding);
  border-top: 1px solid var(--black);
}

.social__media {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  margin-top: 40px;
}

.icon__container {
  display: flex;
  gap: var(--small-gap);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  margin-top: 40px;
}

.menu__container {
  display: flex;
  flex-direction: column;
  gap: var(--extra-small-gap);
}

.menu__container a {
  font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size);
  color: var(--black);
}

.contact__us {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  margin-top: 40px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: var(--extra-small-gap);
}

.email__address {
  font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size);
  color: var(--black);
}

.phone__number {
  font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size);
  color: var(--black);
  text-decoration: underline;
}

.footer__headline {
  font-family: var(--headline-4-large__screen-font-family);
  font-weight: var(--headline-4-large__screen-font-weight);
  font-size: var(--headline-4-large__screen-font-size);
  color: var(--black);
}

/*copy__right*/

.copy__right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px var(--extra-large-padding);
  background-color: #1b2439;
}

.copy__right__text {
  font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size);
  color: var(--white);
}

/*hero__section*/

.hero__section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: var(--large-padding) var(--extra-large-padding);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*_____________________Forside_____________________*/

/*pilates*/

.large__card {
  display: flex;
  align-items: center;
  padding: var(--large-padding) var(--extra-large-padding);
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

.card__title {
  font-family: var(--headline-3-large__screen-font-family);
  font-weight: var(--headline-3-large__screen-font-weight);
  font-size: var(--headline-3-large__screen-font-size);
  color: var(--secondary-color);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}

.card__headline {
  font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size);
  color: var(--black);
}

.card__description {
  font-family: var(--text-large__screen-font-family);
  font-weight: var(--text-large__screen-font-weight);
  font-size: var(--text-large__screen-font-size);
  color: var(--black);
}

/*services*/

.services {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  padding: var(--large-padding) var(--extra-large-padding);
}

.services__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--small-gap);
}

.services__cards__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.service__card__header {
  font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size);
  color: var(--black);
}

.service__card__description {
  font-family: var(--text-large__screen-font-family);
  font-weight: var(--text-large__screen-font-weight);
  font-size: var(--text-large__screen-font-size);
  color: var(--black);
}

.service__card__description span {
  text-decoration: underline;
}

.services__cards__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap: var(--medium-gap);
}

.services__card {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  padding: var(--medium-padding);
  background-color: var(--primary-color);
  min-width: calc(var(--image-width) + 2 * var(--medium-padding));
  max-width: calc(var(--image-width) + 2 * var(--medium-padding));
  flex: 1;
}

.service__card__button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--accent-color);
  padding: 12px 24px;
  font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__card__button a {
  color: var(--white);
}

/*traning__types*/

.traning__types {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  padding: var(--large-padding) var(--extra-large-padding);
  background-color: var(--primary-color);
}

.traning__types__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--small-gap);
}

.traning__types__description {
  font-family: var(--text-large__screen-font-family);
  font-weight: var(--text-large__screen-font-weight);
  font-size: var(--text-large__screen-font-size);
  color: var(--black);
}

.traning__cards__container {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

.medium__card {
  background-color: var(--white);
  padding: 20px;
}

/*trainer*/

.trainer__card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--accent-color);
  width: fit-content;
}

.trainer__card__button a {
  color: var(--white);
  font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size);
}

/*______________________Træningstilbud____________________*/

/*levels*/

.levels {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  padding: var(--large-padding) var(--extra-large-padding);
}

.levels__content {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}

.levels__cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--medium-gap);
}

.level__card {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  padding: 20px;
  background-color: var(--primary-color);
}

.level__card > .card__headline {
  text-align: center;
}

/* personlig__træning */

.personlig__træning,
.hold__træning {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  padding: var(--large-padding) var(--extra-large-padding);
  align-items: center;
}

.personlig__træning__button,
.hold__træning__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 48px;
  background-color: var(--accent-color);
  width: fit-content;
}

.personlig__træning__button a,
.hold__træning__button a {
  color: var(--white);
  font-family: var(--headline-5-large__screen-font-family);
  font-weight: var(--headline-5-large__screen-font-weight);
  font-size: var(--headline-5-large__screen-font-size);
}

.personlig__træning {
  background-color: var(--primary-color);
}

/*gallery*/
.gallery {
  display: flex;
  gap: var(--medium-gap);
  padding: var(--large-padding) var(--extra-large-padding);
}

.gallery__top,
.gallery__bottom {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  flex: 1;
}

.gallery img {
  width: 100%;
  max-width: 500px; /* Or any fixed width you want */
  height: 300px; /* Or whatever consistent height works for your layout */
  object-fit: cover;
  object-position: center;
}
